.songList {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songName {
    font-size: 15px;
    font-weight: bold;
}
.songItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

