.container {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url('https://wallpapercave.com/wp/wp7359059.jpg');
}

.songBanner {
  flex: 1;
}

@media only screen and (max-width: 1100px) {
  .container {
      flex-direction: column;
      width: 90%;
  }

  .songItemPlay {
      margin-inline: initial;
  }

  .timestamp {
      font-size: 15px;
  }

  .songName {
      font-size: 15px;
      font-weight: bold;
  }

  .songItem {
      padding: 8px;
  }

  .icons {
      margin-top: 60px;
      margin-right: 50px;
  }

  .songInfo {
      margin-bottom: 20px;
      margin-right: 0;
      margin-left: 50px;
  }



}
